.brandsGrid {
  width: 100%;
}

.brandsColumnHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr 1fr;
  font-size: 1.3em;
  height: 2em;
}

.brandImageColumn {
  align-self: center;
  grid-column: 2 / span 1;
}

.brandNameColumn {
  align-self: center;
  grid-column: 3 / span 1;
}

.brandCountryColumn {
  align-self: center;
  grid-column: 4 / span 1;
}

.brandImage {
  margin: 0 auto;
}

.brandBox {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 1% 0;
  padding: 1% 1%;
}
