.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border: 1px solid black;
  height: 5em;
}
.siteTitle {
  font-size: 2em;
}

.navButton {
  align-self: center;
  border: 1px solid black;
  height: 80%;
  width: 18%;
  text-align: center;
  line-height: 3.5em;
}
