.navBar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border: 1px solid black;
  height: 5em;
}

.siteTitle {
  font-size: 2em;
  line-height: 2.5em;
  grid-column: 1 / span 1;
  text-align: center;
}

.expandedDropdownContainer {
  z-index: 1;
  display: grid;
  grid-row: span 3;
  grid-column: span 1;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
